<!-- Ex_1 -->
<footer class="footer-lg mt-1">
  <div class="container">
    <div id="footer">
      <h5 class="card-title">НОВИНИ УКРАЇНИ</h5>
      <p>
        <span class="text-muted">
          &copy; 2022 Часткове або повне копіювання інформації з даного сайту
          для поширення на інших ресурсах, у тому числі паперових, суворо
          заборонено.
        </span>
      </p>
    </div>
  </div>
</footer>

<!-- Ex_2 -->
<!-- <footer class="footer">
  <div class="container">
      <p class="float-right">
          <a href="#">Наверх</a>
      </p>
      <span class="text-muted">Агентство по разработке потрясных сайтов на bootstrap, drf и nuxtJS. А это просто наш блог.</span>
  </div>
</footer> -->
