<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <nav class="navbar bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/media/images/logo.png" alt="" height="35" />
        </a>
      </div>
    </nav>
    <a class="navbar-brand" href="{% url 'home' %}">НОВИНИ УКРАЇНИ</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
            >Головна</a
          >
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'add_news' %}"
            >Додати новини</a
          >
        </li>
        {% endif %}
      </ul>
      <form class="d-flex me-5" action="{% url 'search' %}" method="get">
        <input class="form-control me-2" type="text" name="sear" placeholder="Пошук..." aria-label="Пошук">
        <button class="btn btn-outline-success" type="submit">Пошук</button>
      </form>
      <span class="navbar-text me-3">
        {% if request.user.is_authenticated %}
        {{ user.username }} | <a href="{% url 'logout' %}">Вихiд</a>
        {% else %}
        <a href="{% url 'register' %}">Реєстрація</a> | <a href="{% url 'login' %}">Вхiд</a>
        {% endif %}
      </span>
    </div>
  </div>
</nav>
