body {
  letter-spacing: 2px;
  padding: 10px 10px 10px 10px;
  background-image: radial-gradient(circle at 5% 50%, yellow, blue);
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, Verdana;
  text-align: center;
}
p {
  font-size: 1.2em;
  /* font-family: 'Pacifico', "Cormorant Garamond", serif, cursive; */
  /* color: #f34; */
  /* background-color: #011; */
  /* text-transform: uppercase; */
  /* font-variant: small-caps; */
  /* text-decoration: underline; */
  letter-spacing: 1px;
  word-spacing: 3px;
  text-indent: 50px;
  text-align: justify;
}
a {
  color: #000;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: absolute;
  position: relative;
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  /* line-height: 60px; */
  color: aliceblue;
  background-color: #000;
}
