{% load static %}
<!DOCTYPE html>
<html lang="uk">
  <!-- Стили CSS -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}НОВИНИ УКРАЇНИ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
    <link rel="shortcut icon" href="/media/images/logo.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <!-- Начало navbar -->
{% include 'include/_navbar.html' %}
    <!-- Начало контекста -->
<div class="container mt-3">
    <div class="row">
        <!-- Левая колонка -->
        <div class="col-md-2">
          {% block advertising %}{% endblock %}
        </div>
        <!-- Центральная колонка -->
        <div class="col-md-3">
          {% load cache %}
          {% cache 120 sidebar %}
          {% block sidebar %}_sidebar{% endblock %}
          {% endcache %}
        </div>
        <!-- Правая колонка -->
        <div class="col-md-7">
          {% include 'include/_messages.html' %}
          {% block content %}_content{% endblock %}
          <!-- Пагенация -->
          {% if page_obj.has_other_pages %}
            {% include 'include/_paginator.html' %}
          {% endif %}
        </div>
    </div>
</div>
    <!-- Footer -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
